body {
	background-color: rgb(141, 135, 135);
	font-size: 100px;
	display: flex;
	text-align: center;
	margin-top: 100px;
	font-family: Coda Caption;
	color: transparent;
	-webkit-text-stroke: 2px rgb(7, 7, 7);
}

.drop {
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.shadow {
	text-shadow: 5px 10px 10px rgb(58, 57, 57);
}
