.red {
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.red2 {
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}

.green {
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid green;
	border-bottom: 50px solid transparent;
}

.green2 {
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
}

.yellow {
    width: 0;
	height: 0;
	border-bottom: 100px solid yellow; 
	border-right: 100px solid transparent;
}

.yellow2 {
    width: 0;
	height: 0;
	border-bottom: 100px solid yellow; 
	border-left: 100px solid transparent;
}

.blue {
    width: 0;
	height: 0;
	border-top: 100px solid blue; 
	border-right: 100px solid transparent;
}

.blue2 {
    width: 0;
	height: 0;
	border-top: 100px solid blue; 
	border-left: 100px solid transparent;
}

div {
    display: inline-block;
    margin-right: 15px;
}

.red, .red2, .green, .green2 {
    margin-bottom: 100px;
    margin-top: 50px;
}
